{% extends 'vet_app/base/base_page.html' %}

{% block title %} {{ page.name}} {% endblock %}


{% block page_content %}

    <div class="ui clearing divider blue margin-reset"></div>

    <div class="ui stackable padded grid">


        <div class="row">
            <div class="three wide column">

            </div>

            <div class="ten wide column"  id="sticky-menu">
                <article>
                    <h3 class="ui blue top attached header">{{ page.name }}</h3>
                    <div class="ui blue attached raised segment">
                        <p>{{ page.text|safe }}</p>
                    </div>
                </article>
            </div>

            <div class="right aligned computer tablet only three wide column">
                <div class="ui sticky">
                    <a class="ui{% if menu != 'home' %} pulse-logo{% endif %} large toggle blue content icon button"><i class="treatment icon"></i></a>
                </div>
            </div>

        </div>

    </div>

{% endblock %}