{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="it">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{% block description %}Clinica Veterinaria Valmusone di Osimo{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}clinica, veterinario, animali, valmusone, osimo, campocavallo{% endblock %}"/>
    <meta http-equiv="author" content="Luca Palazzo"/>
    <title>{% block title %}Clinica Veteriaria Valmusone{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "vet_app/dist/semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vet_app/css/vet.css" %}">
</head>
<body>

<header>
    <div class="ui one column center aligned stackable grid margin-reset">
        <div class="six wide column">
            <image class="ui image align-center" src="{% static "vet_app/images/logo.png" %}"></image>
        </div>

        <div class="column">
            <div class="ui text blue menu">
                {% for category in categories %}
                    {% if not category.is_section %}
                        {% if category.page_set.count > 1 %}
                            <div class="ui dropdown item">
                                {{ category.name }}<i class="dropdown {% if category.slug == menu %}blue header {% endif %}icon"></i>
                                <div class="menu">
                                    {% for page1 in category.page_set.all|dictsort:'name' %}
                                        <a class="{% if page.slug == page1.slug %}active {% endif %}item" href="{% url 'vet_app:page' cat=category.slug slug=page1.slug %}">{{ page1.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <a class="{% if category.slug == menu %}active {% endif %}item" href="{% url 'vet_app:category' slug=category.slug %}">{% if category.name == 'Home' %}<i class="blue home icon"></i> {% endif %}{{ category.name }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <a class="item" href="https://it-it.facebook.com/pages/Clinica-Veterinaria-Valmusone-Dr-Pesaresi-Ciavattini-Gianfelici/121444544701071"><i class="small blue link icon facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
</header>

<div id="content" class="ui two column stackable grid margin-reset">
    <div class="row">
        <div class="left floated three wide column">
            <aside>
                <div class="ui secondary blue vertical right floated accordion pointing menu">
                    <h3 class="header item"><i class="blue doctor icon"></i>Servizi e Attività</h3>
                    {% for category in categories %}
                        {% if category.is_section %}
                            <section class="item">
                                <div class="title"><i class="dropdown icon"></i>{{ category.name }}</div>
                                <div class="{% if category.slug == menu %}active {% endif %}content">
                                    {% for page1 in category.page_set.all|dictsort:'name' %}
                                        <a class="{% if page1.slug == page.slug %}active {% endif %}item" href="{% url 'vet_app:page' cat=category.slug slug=page1.slug %}">{{ page1.name }}</a>
                                    {% endfor %}
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            </aside>
        </div>

        <div class="left floated ten wide column">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>

<footer>
    <div class="ui inverted divider"></div>
    <div class="ui one column center aligned grid margin-reset">
        <div class="column">
            <div class="ui small basic segment">
                <strong>Clinica Veterinaria Valmusone di Osimo</strong><br />
                Via Vittorio Bachelet, 11, 60027 Osimo AN - Tel: 071 971 0453 Urgenze: +39 3487855374 <br />
                Partita Iva: 13200960154
            </div>
        </div>
    </div>
</footer>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="{% static "vet_app/dist/semantic.min.js" %}"></script>
<script src="{% static "vet_app/js/vet.js" %}"></script>
</body>
</html>