{% extends 'vet_app/base/base_page.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'vet_app:home' %}">Home</a>
        <i class="right chevron white icon divider"></i>
        <div class="active section">Servizi e Attività</div>
    </div>
    <h1 class="ui blue header margin-reset">Servizi e Attività</h1>
{% endblock %}


{% block page_content %}

    <div class="ui center aligned stackable padded grid">
        <div class="middle aligned row">
            <div class="computer tablet only two wide column"></div>
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large black ribbon label">Agopuntura</div>
                    <img src="{% static "vet_app/images/servizi/agopuntura.jpg" %}">
                </div>
            </div>
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large yellow ribbon label">Anestesiologia</div>
                    <img src="{% static "vet_app/images/servizi/anestesiologia.jpg" %}">
                </div>
            </div>
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large purple ribbon label">Cardiologia</div>
                    <img src="{% static "vet_app/images/servizi/cardiologia.jpg" %}">
                </div>
            </div>
            <div class="top aligned right aligned computer tablet only two wide column">
                <div class="ui sticky">
                    <a class="ui{% if menu != 'home' %} servizio-logo{% endif %} large toggle blue content icon button"><i class="treatment icon"></i></a>
                </div>
            </div>
        </div>

        <div class="middle aligned row">
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large blue ribbon label">Chirurgia Generale</div>
                    <img src="{% static "vet_app/images/servizi/chirurgia.jpg" %}">
                </div>
            </div>
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large green ribbon label">Chirurgia Ortopedica</div>
                    <img src="{% static "vet_app/images/servizi/chirurgia_ortopedica.jpg" %}">
                </div>
            </div>
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large red ribbon label">Dermatologia</div>
                    <img src="{% static "vet_app/images/servizi/dermatologia.jpg" %}">
                </div>
            </div>
        </div>

        <div class="middle aligned row">
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large orange ribbon label">Ecografia</div>
                    <img src="{% static "vet_app/images/servizi/ecografia.jpg" %}">
                </div>
            </div>
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large purple ribbon label">Animali Esotici</div>
                    <img src="{% static "vet_app/images/servizi/esotici.jpg" %}">
                </div>
            </div>
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large teal ribbon label">Medicina Interna</div>
                    <img src="{% static "vet_app/images/servizi/medicina_interna.jpg" %}">
                </div>
            </div>
        </div>

        <div class="middle aligned row">
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large yellow ribbon label">Radiologia</div>
                    <img src="{% static "vet_app/images/servizi/radiologia.jpg" %}">
                </div>
            </div>
            <div class="four wide column">
                <div class="ui fluid servizio image">
                    <div class="ui large green ribbon label">Riproduzione</div>
                    <img src="{% static "vet_app/images/servizi/riproduzione.jpg" %}">
                </div>
            </div>
        </div>

    </div>

{% endblock %}